<!DOCTYPE html>
<html ng-app="redditApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit App</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="MyController">
    <header>
      <p>Reddit Clone</p>
      <p>
        Search for Post
        <input type="text" ng-model="searchable.name">
      </p>
      <div ng-click="showme=true">
        <input type="button" value="Add a Post">
      </div>
    </header>
    <div ng-show="showme">
      <form ng-submit="newPost()">
        <input type="text" placeholder="Title" ng-model="title">
        <input type="text" placeholder="Image" ng-model="image">
        <input type="text" placeholder="Description" ng-model="description">
        <input type="text" placeholder="Author" ng-model="author">
        <input type="text" placeholder="Date" ng-model="filter">
        <div ng-click="showme=false">
          <input type="submit" value="{{buttonText}}">
        </div>
      </form>
    </div>
    <div ng-repeat="post in posts | filter:searchable.name">
      <p>{{post.title}}</p>
      <p>{{post.image}}</p>
      <p>{{post.description}}</p>
      <p>{{post.author}}</p>
      <p>{{post.date}}</p>
      <hr>
    </div>

      <form ng-submit="newComments()">
        <input type="text" placeholder="Comment" ng-model="usercomment">
        <div ng-click="showme=false">
          <input type="submit" value="{{commentText}}">
      </form>
      <div ng-repeat="allComments in comments | filter:searchable.commentor">
        <p>{{allComments.usercomment}}</p>
        <p>{{allComments.commentor}}</p>

  </body>
</html>
